<div class="container mx-auto px-4 sm:px-6 flex flex-col py-10">
  <h1 class="text-4xl font-medium pb-2 text-gray-700"> Contact Us </h1>

  <div class="contact mt-6">
    <div class="flex flex-row ">
      <img src="assets/viber.png" alt="" class="h-8 my-3 mr-3">
      <div class="info">
        <p class="text-lg text-gray-700 font-bold">
          Viber
        </p>
        <p class="text-lg text-gray-800">
          0917-8377954
        </p>
      </div>
    </div>
    <div class="flex flex-row mt-4">
      <img src="assets/telephone.png" alt="" class="h-8 my-3 mr-3">
      <div class="info">
        <p class="text-lg text-gray-700 font-bold">
          Telephone
        </p>
        <p class="text-lg text-gray-800">
          043-7736800 local 5002 / 5016
        </p>
      </div>
    </div>
    <div class="flex flex-row mt-4">
      <img src="assets/email.png" alt="" class="h-8 my-3 mr-3">
      <div class="info">
        <p class="text-lg text-gray-700 font-bold">
          Email us!
        </p>
        <p class="text-lg text-gray-800">
          weightmanagement@mmmc.ph
        </p>
      </div>
    </div>
    <div class="flex flex-row mt-4">
      <img src="assets/facebook.png" alt="" class="h-8 my-3 mr-3">
      <div class="info">
        <p class="text-lg text-gray-700 font-bold">
          Facebook
        </p>
        <p class="text-lg text-gray-800">
          Wmc Mediatrix
        </p>
      </div>
    </div>
  </div>
</div>
