<div class="container mx-auto px-4 sm:px-6 flex flex-col py-10">
  <h1 class="text-4xl font-medium pb-2 text-gray-700"> Contact Us </h1>

  <div class="contact mt-6">
    <p class="text-lg text-base font-medium"> Mobile </p>
    <p class="text-base text-gray-800"> (+63) 912345687 </p>
    <p class="text-lg text-base font-medium mt-4"> Telephone </p>
    <p class="text-base text-gray-800"> (+63) 2313133 </p>
    <p class="text-lg text-base font-medium mt-4"> Email </p>
    <p class="text-base text-gray-800"> something@telenutrition.ph </p>
  </div>
</div>
