<div class="flex flex-row container mx-auto px-4 sm:px-6 lg:px-8 items-start computed-dashboard-div">
  <div class="col-1 py-6 w-3/4">
    <header class="bg-white">
      <div>
        <h1 class="text-2xl font-medium mb-4 leading-tight text-gray-900">
          Book an Appointment
        </h1>
      </div>
    </header>
    <!--    <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">-->
    <!--      {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}-->
    <!--    </button>-->
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" *ngIf="!result">
      <mat-vertical-stepper [linear]="true" formArrayName="formArray">
        <mat-step formGroupName="0" [stepControl]="formArray.get([0])" class="font-sans">
          <ng-template matStepLabel class="font-sans">Select your preferred date</ng-template>
          <mat-form-field appearance="outline">
            <mat-label class="font-sans">Appointment Date</mat-label>
            <input matInput class="font-sans" [matDatepicker]="picker" [matDatepickerFilter]="dateFilter"
                   [min]="todayDate" placeholder="mm/dd/yyyy" required name="appointmentDate"
                   formControlName="appointmentDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div>
            <button type="button" class="font-sans" mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step formGroupName="1" [stepControl]="formArray.get([1])">
          <ng-template matStepLabel class="font-sans">Select your appointment time</ng-template>
          <p class="text-base pt-4"> Listed time options are based on your selected date. </p>
          <mat-form-field appearance="outline" class="mt-4 font-sans" >
            <mat-label class="font-sans">Appointment Time</mat-label>
            <mat-select formControlName="appointmentTime" name="appointmentTime" class="font-sans">
              <mat-option *ngFor="let time of times" [value]="time.value" class="font-sans">
                {{time.display}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button type="button" class="font-sans" mat-button matStepperPrevious>Back</button>
            <button type="button" class="font-sans" mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step formGroupName="2" [stepControl]="formArray.get([2])">
          <ng-template matStepLabel>Service to Avail</ng-template>
          <p class="text-lg font-medium">Price:
              <ng-container [ngSwitch]="selectedAppointmentType">
                <span *ngSwitchCase="'nutrition_counseling'">₱400</span>
                <span *ngSwitchCase="'one_week_cycle_menu'">₱500</span>
                <span *ngSwitchCase="'both'">₱900</span>
              </ng-container>
          </p>
          <mat-form-field appearance="outline" class="mt-4 w-1/3">
            <mat-select class="font-sans" formControlName="appointmentType" name="appointmentType"
                        placeholder="Select Service To Avail" [(value)]="selectedAppointmentType">
              <mat-option class="font-sans" value="nutrition_counseling">
                Nutrition Counseling
              </mat-option>
              <mat-option class="font-sans" value="one_week_cycle_menu">
                One Week Cycle Menu
              </mat-option>
              <mat-option class="font-sans" value="both">
                Nutrition Counseling & One Week Cycle Menu
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button type="button" mat-button matStepperPrevious>Back</button>
            <button type="button" mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step formGroupName="3" [stepControl]="formArray.get([3])">
          <ng-template matStepLabel>Fill out information</ng-template>
          <div class="flex flex-col w-1/3 mt-2">
            <mat-form-field appearance="outline">
              <mat-label class="font-sans">Complains</mat-label>
              <textarea class="font-sans" rows="8" matInput formControlName="complaints" name="complaints"></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline" class="mt-1">
              <mat-label class="font-sans">Current Medications</mat-label>
              <textarea class="font-sans" rows="5" matInput formControlName="currentMedications"
                        name="currentMedications"></textarea>
            </mat-form-field>
          </div>
          <div>
            <button type="button" mat-button matStepperPrevious>Back</button>
            <button type="button" mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step formGroupName="4" [stepControl]="formArray.get([4])">
          <ng-template matStepLabel>Payment</ng-template>
          <p class="mt-2">You can choose to settle your account through the following bank to bank options</p>

          <div [ngSwitch]="selected" class="my-2">
            <div *ngSwitchCase="'bpi'">
              <div class="flex flex-row">
                <img src="/assets/bpi.png" alt="" class="h-12 mr-6">
                <div class="info">
                  <h1 class="text-lg font-medium text-gray-800"> Bank of the Philippine Islands </h1>
                  <p> Branch: Lipa Poblacion, Lipa City Batangas</p>
                  <p> Account Number: <span class="font-bold primary">9011-0017-15</span></p>
                  <p> Account Type: Current Account</p>
                  <p> Swift Code: BOPIPHMM </p>
                </div>
              </div>
            </div>
            <div *ngSwitchCase="'metro'">
              <div class="flex flex-row">
                <img src="/assets/metro.png" alt="" class="h-12 mr-6">
                <div class="info">
                  <h1 class="text-lg font-medium text-gray-800"> Metropolitan Bank & Trust Company</h1>
                  <p> Branch: B. Morada Lipa City, Barangas</p>
                  <p> Account Number: <span class="font-bold primary">145-3-14503985-2</span></p>
                  <p> Account Type: Savings Account</p>
                  <p> Swift Code: MBTCPHMM </p>
                </div>
              </div>
            </div>
            <div *ngSwitchCase="'union'">
              <div class="flex flex-row">
                <img src="/assets/unionbank.png" alt="" class="h-12 mr-6">
                <div class="info">
                  <h1 class="text-lg font-medium text-gray-800"> Union Bank </h1>
                  <p> Branch: Lipa Branch, Lipa City Batangas</p>
                  <p> Account Number: <span class="font-bold primary">002660003598</span></p>
                  <p> Account Type: Savings Account</p>
                </div>
              </div>
            </div>
            <div *ngSwitchCase="'bdo'">
              <div class="flex flex-row">
                <div class="image min-w-lg max-w-lg">
                  <img src="/assets/bdo.png" alt="" class="h-14 mr-6">
                </div>
                <div class="info">
                  <h1 class="text-lg font-medium text-gray-800"> Banco De Oro</h1>
                  <p> Branch: Ayala Highway, Lipa City Batangas</p>
                  <p> Account Number: <span class="font-bold primary">1880141440</span></p>
                  <p> Account Type: Savings Account</p>
                  <p> Swift Code: BNORTHMM </p>
                </div>
              </div>
            </div>
          </div>

          <mat-form-field appearance="outline" class="mt-4 w-1/3">
            <mat-select class="font-sans" formControlName="paymentMethod" name="paymentMethod"
                        placeholder="Select Payment Method" [(value)]="selected">
              <mat-option class="font-sans" value="bpi">
                BPI
              </mat-option>
              <mat-option class="font-sans" value="union">
                Union Bank
              </mat-option>
              <mat-option class="font-sans" value="metro">
                Metrobank
              </mat-option>
              <mat-option class="font-sans" value="bdo">
                BDO
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button type="submit" mat-raised-button color="accent" class="mt-2"
                    [disabled]="isSubmitting || !formGroup.valid">{{ isSubmitting ? 'Submitting..' : 'Submit'}}</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </form>
    <div class="summary p-6 border rounded shadow-sm hover:shadow-md outline-none cursor-pointer" [routerLink]="'/patients/appointments/view/' + this.resultId" *ngIf="result === 'success'">
      <h1 class="text-xl font-medium mb-2 pb-2 border-b"> Appointment Summary </h1>
      <p class="text-lg font-medium"> Status: <span> {{ this.appointment.status }} </span></p>
      <p class="text-base font-medium text-gray-500 mt-2"> Appointment Schedule </p>
      <p class="text-lg font-medium">  {{ this.moment(this.appointment.schedule).format('LLL') }}
      <p class="text-base font-medium text-gray-500 mt-2"> Payment Method </p>
      <p class="text-lg font-medium"> {{ this.appointment.paymentMethod.toUpperCase()}}</p>
      <p class="text-base font-medium text-gray-500 mt-2"> Amount Due </p>
      <p class="text-lg font-medium"> {{ this.appointment.amountDue}} </p>
    </div>
  </div>
  <div routerLink="/patient/account-settings"
       class="col-2 w-1/4 p-6 border rounded shadow-sm m-6 cursor-pointer hover:shadow-md outline-none">
    <app-user-card></app-user-card>
  </div>
</div>
