<header class="bg-white shadow-sm">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-4">
    <h1 class="text-2xl font-medium leading-tight text-gray-900">
      Nutrition Tools
    </h1>
  </div>
</header>

<div class="container mx-auto px-4 sm:px-6 lg:px-8 py-4">
  <div class="flex flex-row container mx-auto px-4 sm:px-6 lg:px-8 items-start computed-dashboard-div">
    <div class="col-1 py-6 w-3/4">
      <header class="bg-white">
        <div class="flex flex-row w-1/2 justify-around">
          <h1 class="text-base font-normal leading-tight text-gray-900">
          </h1>
          <h1 class="text-base font-normal leading-tight text-gray-900">
          </h1>
          <h1 class="text-base font-normal leading-tight text-gray-900">
          </h1>
        </div>
      </header>
    </div>
  </div>
</div>
