<div mat-dialog-content>
  <h3 class="text-3xl font-medium"> Assign RND </h3>
  <p class="text-base font-normal mt-4"> Select the RND you want to assign to this appointment </p>
</div>
<mat-form-field appearance="outline" class="w-full">
  <mat-select [formControl]="rndCtrl" placeholder="RND" #singleSelect>
    <mat-option>
      <ngx-mat-select-search [formControl]="rndFilterCtrl" placeholderLabel="Search RNDs"
                             noEntriesFoundLabel="'No matching RND found'"></ngx-mat-select-search>
    </mat-option>
    <mat-option *ngFor="let rnd of filteredRNDs | async" [value]="rnd" class="flex flex-row">
      {{rnd.lastName}}, {{rnd.firstName}}
    </mat-option>
  </mat-select>
</mat-form-field>
<div>
  <!--  <p class="text-base" *ngIf="selectedRND"> RND Selected: {{ this.selectedRND?.lastName }}, {{ this.selectedRND?.firstName}}</p>-->
</div>
<div mat-dialog-actions class="flex  flex-row justify-items-end">
  <button mat-raised-button (click)="onNoClick()" color="white" class="mt-4 mb-2 ml-auto">Cancel</button>
  <button mat-raised-button type="submit" color="primary" class="mt-4 mb-2 ml-2"
          (click)="assign()">{{ isAssigning ? 'Assigning' : 'Assign' }} {{ selectedRND?.firstName }} {{ selectedRND?.lastName}}</button>
</div>
