<div mat-dialog-content>
  <h3 class="text-3xl font-medium"> Add Nutrition Tool </h3>
  <p class="text-base font-normal mt-4"> Please provide the following details </p>
  <div class="form">
    <form class="font-sans" [formGroup]="nutritionToolsForm" autocomplete="off">
      <button [disabled]="this.isUploading || !!this.nutritionToolsForm.controls.filename.value" type="button" mat-raised-button class="mt-4 button mb-8 w-72 flex flex-col" color="accent"
              (click)="file.click()">{{ this.isUploading ? 'Uploading' : this.nutritionToolsForm.controls.filename.value ? 'Uploaded' : 'Upload' }}</button>
      <input type="file" accept=".png,.jpg,.jpeg,.pdf" #file placeholder="Choose file" multiple
             (change)="fileChange(file.files)"
             style="display:none;">
      <mat-form-field appearance="outline" class="mb-0 pb-0 text-base flex-grow mt-4 w-1/2">
        <mat-label class="font-sans">Folder</mat-label>
        <input type="text" matInput placeholder="Folder Name" class="pb-0 font-sans" autocomplete="off" name="group"
               formControlName="group" spellcheck="false" required>
      </mat-form-field>
      <mat-form-field appearance="outline" class="mb-0 pb-0 text-base flex-grow mt-4 w-1/2">
        <mat-label class="font-sans">Age Group</mat-label>
        <input type="text" matInput placeholder="Age Group" class="pb-0 font-sans" autocomplete="off" name="ageGroup"
               formControlName="ageGroup" spellcheck="false" required>
      </mat-form-field>
    </form>
  </div>
</div>
<div mat-dialog-actions class="flex  flex-row justify-items-end">
  <button mat-raised-button (click)="onNoClick()" color="white" class="mt-4 mb-2 ml-auto">Cancel</button>
  <button mat-raised-button type="submit" color="primary" class="mt-4 mb-2 ml-2" [disabled]="!nutritionToolsForm.valid"
          (click)="add()">Add Nutrition Tool
  </button>
</div>
