<div class="mr-auto rounded-md transition-all">
  <div class="card-heading py-4 border-b p-4">
    <h1 class="text-4xl font-normal primary"> Registration Success </h1>
  </div>
  <div class="p-4 pt-6">
    <p class="text-base text-lg font-medium text-gray-600"> A verification link has been sent to your email account. </p>
    <p class="text-base text-base pt-2 text-gray-800"> Please click on the link that has just been sent to your email account to verify your email and finish the process. </p>
  </div>
</div>

