<div class="container mx-auto px-4 sm:px-6 flex computed-div align-middle items-center">
<div class="card w-1/3 mr-auto border rounded-md shadow-sm mt-16" >
    <div class="card-heading py-4 border-b p-4">
      <h1 class="text-2xl font-bold primary"> Sign In </h1>
    </div>
    <form class="example-form" class="flex flex-col p-4 font-sans" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="mb-0 pb-0" >
        <mat-label class="font-sans">Username</mat-label>
        <input matInput placeholder="Placeholder" class="pb-0 font-sans" formControlName="username" autocomplete="false" spellcheck="false">
      </mat-form-field>
      <mat-form-field appearance="outline" class="-mt-4">
        <mat-label class="font-sans">Password</mat-label>
        <input matInput placeholder="Placeholder" type="password" class="font-sans" formControlName="password" autocomplete="false" spellcheck="false">
        <mat-hint class="font-sans text-sm">Forgot your password? <a routerLink="/reset-password" class="font-bold primary font-sans"> Click here </a></mat-hint>
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary" class="mt-4 mb-2" [disabled]="isLoggingIn">{{ isLoggingIn ? 'Signing in...' : 'Sign In'}}</button>
      <button mat-raised-button routerLink="/register" > Register </button>
    </form>
  </div>
</div>
