<div class="container mx-auto px-4 sm:px-6 flex flex-col py-10">
  <h1 class="text-4xl font-medium pb-2 text-gray-700"> About Us </h1>

  <p class="text-lg w-1/2 py-4 text-gray-700">
    The Weight Management Center is located at the ground floor of Calleja Building, Mary Mediatrix Medical Center. We cater patients with weight challenges including overweight or obese and even underweight. We are a  multi- disciplinary team composed of Doctors (Medical Nutrition, Endocrinologist,  Cardiologist, Pulmonologist, Physiatrist, Psychiatrist), Physical Therapist and Dietitians). We offer different packages tailored to what the patients need, what the MDs prescribed and what the patients can follow.
  </p>

  <p class="text-lg w-1/2 py-4 text-gray-700">
    Our Clinical dietitians conducts nutrition education based on the prescribed diet by your doctor. We are open from 6am to 6pm everyday by appointment basis and currently face to face interaction is not allowed.
  </p>
</div>
