<div class="container mx-auto px-4 sm:px-6 flex computed-div align-middle items-center">
  <img src="assets/graphics-1.png" alt="" class="w-1/2">
  <div class="w-1/2 px-12">
    <h1 class="text-5xl font-bold primary"> Telenutrition.ph </h1>
    <p class="text-base text-gray-600 mt-6"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam, assumenda culpa cumque deleniti ducimus ea, esse explicabo id nam odio pariatur praesentium, quae quas qui repellat unde! Modi, nesciunt!</p>
    <p class="text-base text-gray-600 mt-4"> Lorem ipsum dolor sit. </p>
  </div>
</div>
