<header class="bg-white shadow-sm">
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold leading-tight text-gray-900">
      Dashboard
    </h1>
  </div>
</header>

<div class="max-w-7xl mx-auto py-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-4 gap-4">
      <div class="rounded-md border mr-2 p-4 shadow-sm">
        <h1 class="text-lg font-bold leading-tight text-gray-700">
          Active Users
        </h1>
        <h1 class="text-3xl font-light leading-tight text-gray-900">
          12
        </h1>
      </div>
      <div class="rounded md border mx-2 p-4 shadow-sm">
        <h1 class="text-lg font-bold leading-tight text-gray-700">
          Active Users
        </h1>
        <h1 class="text-3xl font-light leading-tight text-gray-900">
          12
        </h1>
      </div>
      <div class="rounded md border mx-2 p-4 shadow-sm">
        <h1 class="text-lg font-bold leading-tight text-gray-700">
          Active Users
        </h1>
        <h1 class="text-3xl font-light leading-tight text-gray-900">
          12
        </h1>
      </div>
      <div class="rounded md border ml-2 p-4 shadow-sm">
        <h1 class="text-lg font-bold leading-tight text-gray-700">
          Active Users
        </h1>
        <h1 class="text-3xl font-light leading-tight text-gray-900">
          12
        </h1>
      </div>
    </div>
</div>

