<header class="bg-white shadow-sm">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-4">
    <h1 class="text-2xl font-medium leading-tight text-gray-900">
      Dashboard
    </h1>
  </div>
</header>

<div class="container mx-auto px-4 sm:px-6 lg:px-8 py-4 ">
    <div class="grid grid-cols-4 gap-4">
      <div class="rounded-md border mr-2 p-4 shadow-sm">
        <h1 class="text-lg font-bold leading-tight text-gray-700">
          Active Users
        </h1>
        <h1 class="text-3xl font-light leading-tight text-gray-900">
          12
        </h1>
      </div>
      <div class="rounded md border mx-2 p-4 shadow-sm">
        <h1 class="text-lg font-bold leading-tight text-gray-700">
          Active Users
        </h1>
        <h1 class="text-3xl font-light leading-tight text-gray-900">
          12
        </h1>
      </div>
      <div class="rounded md border mx-2 p-4 shadow-sm">
        <h1 class="text-lg font-bold leading-tight text-gray-700">
          Active Users
        </h1>
        <h1 class="text-3xl font-light leading-tight text-gray-900">
          12
        </h1>
      </div>
      <div class="rounded md border ml-2 p-4 shadow-sm">
        <h1 class="text-lg font-bold leading-tight text-gray-700">
          Active Users
        </h1>
        <h1 class="text-3xl font-light leading-tight text-gray-900">
          12
        </h1>
      </div>
    </div>
    <div class="col-1 py-6 w-3/4">
      <div class="flex flex-row">
<!--        <div class="grid grid-cols-2 gap-6 mt-8 h-0 w-2/4">-->
<!--          <a routerLink="/patient/medical-records" class="rounded border p-4 shadow-sm hover:shadow-lg transition-all">-->
<!--            <img src="assets/notes.png" alt="" class="w-1/3 mx-auto">-->
<!--            <h1 class="text-lg font-medium text-gray-800 text-center pt-4"> Medical Records </h1>-->
<!--          </a>-->
<!--          <a routerLink="/patient/history" class="rounded border p-4 shadow-sm hover:shadow-lg transition-all">-->
<!--            <img src="assets/history.png" alt="" class="w-1/3 mx-auto">-->
<!--            <h1 class="text-lg font-medium text-gray-800 text-center pt-4"> History </h1>-->
<!--          </a>-->
<!--          <a routerLink="/patient/book-an-appointment" class="rounded border p-4 shadow-sm hover:shadow-lg transition-all">-->
<!--            <img src="assets/calendar.png" alt="" class="w-1/3 mx-auto">-->
<!--            <h1 class="text-lg font-medium text-gray-800 text-center pt-4"> Book an Appointment </h1>-->
<!--          </a>-->
<!--          <a routerLink="/patient/nutrition-tools" class="rounded border p-4 shadow-sm hover:shadow-lg transition-all">-->
<!--            <img src="assets/pyramid.png" alt="" class="w-1/3 mx-auto">-->
<!--            <h1 class="text-lg font-medium text-gray-800 text-center pt-4"> Nutrition Tools </h1>-->
<!--          </a>-->
<!--        </div>-->
      </div>
    </div>
</div>

