<div>
  <mat-form-field appearance="outline" class="font-sans rounded-md">
    <mat-label>User Type</mat-label>
    <mat-select [(value)]="selected" (valueChange)="valueChange($event)" class="font-sans">
      <mat-option value="patient" class="font-sans">
        Patient
      </mat-option>
      <mat-option value="rnd" class="font-sans">
        RND
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<h1 class="text-lg font-medium pb-2"> Showing all {{ this.selected.toLowerCase() }}s</h1>
<div class="table w-full m-0 border p-2 rounded-md font-sans mb-4">

  <table mat-table
         [dataSource]="data" multiTemplateDataRows
         class="w-full m-0"
         matSort matSortActive="updatedAt" matSortDisableClear matSortDirection="desc"
  >
    <!-- Number Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell class="font-sans" *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>Username</th>
      <td mat-cell class="font-sans font-bold" *matCellDef="let row">{{row.username}}</td>
    </ng-container>

    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef>Full Name</th>
      <td mat-cell class="font-sans" *matCellDef="let row">{{row.lastName}}, {{row.firstName}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell class="font-sans" *matCellDef="let row">{{row.email}}</td>
    </ng-container>

    <ng-container matColumnDef="isConfirmed">
      <th mat-header-cell *matHeaderCellDef>Enabled</th>
      <td mat-cell class="font-sans" *matCellDef="let row"
          [ngClass]="{ 'text-red-900' : !row.enabled, 'font-medium': !row.enabled}">{{row.enabled ? 'Yes' : 'No'}}</td>
    </ng-container>

    <ng-container matColumnDef="isApproved" *ngIf="selected === 'rnd'">
      <th mat-header-cell *matHeaderCellDef>Is Approved?</th>
      <td mat-cell class="font-sans" *matCellDef="let row"
          [ngClass]="{ 'text-red-900' : !row.approved, 'font-medium': !row.approved}">{{row.approved ? 'Yes' : 'No'}}</td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>Created At</th>
      <td mat-cell class="font-sans" *matCellDef="let row">{{row.createdAt}}</td>
    </ng-container>

    <ng-container matColumnDef="updatedAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
        Updated At
      </th>
      <td mat-cell class="font-sans" *matCellDef="let row">{{row.updatedAt}}</td>
    </ng-container>

    <ng-container matColumnDef="buttons">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell class="font-sans" *matCellDef="let row">
        <button [routerLink]="['/admin', 'account', 'view', this.selected, row.username]" class="font-bold bg-blue-50 p-2 rounded-sm">View</button>
        <button class="font-bold bg-red-800 text-gray-100 rounded-sm p-2" (click)="delete(row)"> Delete </button>
<!--        <button [routerLink]="['/admin', 'account', 'update', this.selected, row.username]"  class="ml-2 font-bold bg-yellow-100 p-2 rounded-sm">Update</button>-->
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="selected === 'rnd' ? displayedColumns : displayedColumnsPatient"></tr>
    <tr mat-row *matRowDef="let row; columns: (selected === 'rnd' ? displayedColumns : displayedColumnsPatient)"></tr>
  </table>

  <mat-paginator class="font-sans" [length]="resultsLength" [pageSize]="30"></mat-paginator>
</div>
