<div class="flex flex-row container mx-auto px-4 sm:px-6 lg:px-8 items-start computed-dashboard-div">
  <div class="col-1 py-6 w-3/4">
    <header class="bg-white">
      <div>
        <h1 class="text-2xl font-medium leading-tight text-gray-900">
          Nutrition Tools
        </h1>
      </div>
    </header>
    <div class="shadow-sm rounded border mt-4 p-4" *ngIf="nutritionTools" [hidden]="showAgeGroup">
      <div class="flex flex-row p-2 text-base font-medium shadow-sm hover:shadow-lg rounded-md cursor-pointer"
         *ngFor="let nt of nts | keyvalue" (click)="showAgeGroupComp(nt.value)">
        <img src="/assets/folder.png" class="w-12 h-12 mr-4" alt="">
        <p class="text-sm align-middle justify-self-center self-center font-medium text-gray-700 pt-2">
          {{ nt.key }}
          <span class="text-gray-400 mx-4"> {{ this.sum(nt.value) }} DOWNLOADS</span>
        </p>
      </div>
    </div>
    <div *ngIf="showAgeGroup">
      <button mat-raised-button color="accent" class="mb-6 mt-3" (click)="back()" > Back </button>
      <a class="flex flex-row p-2 text-base font-medium shadow-sm hover:shadow-lg rounded-md cursor-pointer"  href="{{ environment.apiRoot + '/api/nt/get/' + nt.id}}"
           *ngFor="let nt of currentFolder" >
        <img src="/assets/pdf.png" class="w-12 h-12 mr-4" alt="">
        <p class="text-sm align-middle justify-self-center self-center font-medium text-gray-700 pt-2">
          {{ nt.filename.split('___')[0] }}
          <span class="text-gray-400 mx-4"> {{ nt.hits }} DOWNLOADS</span>
        </p>
      </a>
    </div>
  </div>

  <div routerLink="/patient/account-settings"
       class="col-2 w-1/4 p-6 border rounded shadow-sm m-6 cursor-pointer hover:shadow-md outline-none">
    <app-user-card></app-user-card>
  </div>
</div>
