<header class="bg-white shadow-sm">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-4">
    <h1 class="text-2xl font-medium leading-tight text-gray-900">
      <a routerLink="/patient/appointments">Appointments </a> <span class="text-gray-500">/ View Appointment </span>
    </h1>
  </div>
</header>

<div class="container mx-auto px-4 sm:px-6 lg:px-8 py-4">
  <div class="content border p-4 rounded-md flex flex-row w-2/3">
    <div class="info">
      <h1 class="text-2xl font-medium text-gray-600 mb-4"> Appointment Details </h1>
      <!--      <img src="{{ this.patient?.profileImageURL ? this.patient?.profileImageURL : 'assets/default.png'}}" alt="" class="rounded-sm w-48 h-48 shadow-lg border rounded-lg object-cover my-4">-->
      <p class="text-lg text-gray-700 mt-1">
        ID: <span class="font-medium"> {{ this.appointment?.id }}</span>
      </p>
      <p class="text-lg text-gray-700 mt-1 bg-yellow-100">
        Schedule: <span class="font-bold"> {{ this.moment(this.appointment?.schedule).format('LLL') }}</span>
      </p>
      <p class="text-lg text-gray-700 mt-1">
        Patient: <span class="font-medium"> {{ this.appointment?.patient.lastName}}
        , {{ this.appointment?.patient.firstName }}</span>
      </p>
      <p class="text-lg text-gray-700 mt-1">
        Assigned RND: <span
        class="font-medium"> {{ this.appointment?.rnd ? this.appointment?.rnd.firstName + ' ' + this.appointment?.rnd.lastName : 'Pending...' }} </span>
      </p>
      <p class="text-lg text-gray-700 mt-1">
        Created At: <span class="font-medium"> {{ this.moment(this.appointment?.createdAt).format('L') }}</span>
      </p>
      <p class="text-lg text-gray-700 mt-1">
        Payment Method: <span class="font-medium"> {{ this.appointment?.paymentMethod.toUpperCase()}}</span>
      </p>
      <h1 class="text-lg font-medium my-4" *ngIf="this.appointment?.proofOfPayments.length > 0">
        Proof of payment
      </h1>
            <div class="grid grid-cols-3 gap-1">
              <div *ngFor="let file of this.appointment?.proofOfPayments">
                <a href="{{this.environment.apiUrl + '/file/files/' + file?.path}}"><img
                  *ngIf="file.path.split('.')[1] !== 'pdf'; else elseBlk"
                  src="{{ this.environment.apiUrl + '/file/files/' + file?.path }}" alt=""
                  class="mt-2 w-44 h-44 shadow-lg border rounded-lg object-cover">
                </a>
                <ng-template #elseBlk>
                  <img src="/assets/pdf.png" class="w-12 h-12 mt-4" alt="">
                  <p class="text-sm font-medium text-gray-700 pt-2">{{ file.path }} </p></ng-template>
              </div>
            </div>
    </div>
    <div class="controls ml-auto flex flex-row h-12">
      <button *ngIf="this.appointment?.status === 'PENDING_PAYMENT'" type="button" mat-raised-button class="button mt-2 w-72 flex flex-col" color="white" (click)="file.click()"
              [disabled]="this.isUploading && this.uploadedFilePaths.length === this.filesToUpload">{{ this.isUploading ? 'Attaching files...' : 'Attach proof of payment' }}
        <!--        <mat-spinner [diameter]="25z"> *ngIf="!isUploading"></mat-spinner>-->

      </button>
      <input type="file" accept=".png,.jpg,.jpeg,.pdf" #file placeholder="Choose file"
             (change)="fileChange(file.files)"
             style="display:none;">
    </div>
  </div>
</div>

