<div class="flex flex-row container mx-auto px-4 sm:px-6 lg:px-8 items-start computed-dashboard-div">
  <div class="col-1 py-6 w-3/4">
    <header class="bg-white flex flex-col">
      <div>
        <h1 class="text-2xl font-medium leading-tight text-gray-900">
          Patients
        </h1>
      </div>
      <mat-form-field appearance="outline" class="mt-8 pb-0" >
        <mat-label class="font-sans">Search</mat-label>
        <input  autofocus="autofocus" type="text" matInput placeholder="Search" class="pb-0 font-sans" autocomplete="off"
               spellcheck="false" required (keyup)="update()" [(ngModel)]="searchString">
      </mat-form-field>
    </header>
    <div class="flex flex-col">
      <div class="grid grid-cols-2 gap-4 mt-2 h-0"  *ngIf="patientsResult?.length > 0 && this.isShowingPatientDetails === false">
          <app-patient class="patient bg-gray-100 rounded-md border p-4 flex flex-row hover:shadow-lg cursor-pointer" [patient]="patient" *ngFor="let patient of patientsResult" (click)="showPatientDetails(patient)"></app-patient>
      </div>

      <div class="patient-details" *ngIf="isShowingPatientDetails">
        <button mat-raised-button color="accent" class="mb-6 mt-3" (click)="back()" > Back </button>
        <h1 class="text-md font-medium"> Medical Records </h1>
        <p class="text-base"> Contact: <span class="font-bold"> {{ this.patientSelected.contactNumber ? 'Not set' : this.patientSelected.contactNumber }} </span></p>
        <p class="text-base"> Age: {{ this.patientSelected.medicalRecord?.age }} </p>
        <p class="text-base"> Birthday: {{ this.patientSelected.medicalRecord?.birthday === null ? 'Not set' : this.patientSelected.medicalRecord?.birthday  }} </p>
        <p class="text-base"> Religion: {{ this.patientSelected.medicalRecord?.religion }} </p>
        <p class="text-base"> Sex: {{ this.patientSelected.medicalRecord?.sex === null ? 'Not set' : this.patientSelected.medicalRecord?.sex.toUpperCase()  }}  </p>
        <p class="text-base"> Height: {{ this.patientSelected.medicalRecord?.height === 0 ? 'Not set' : this.patientSelected.medicalRecord.height + 'cm' }} </p>
        <p class="text-base"> Weight: {{ this.patientSelected.medicalRecord?.weight === 0 ? 'Not set' : this.patientSelected.medicalRecord.weight + 'kg' }} </p>
        <p class="text-base"> BMI: {{ this.patientSelected.medicalRecord?.bmi }} </p>
        <p class="text-base"> Biochemical Results: <a class="font-bold" href="{{ this.patientSelected.medicalRecord?.biochemicalResults }}"> Download </a> </p>
        <p class="text-base"> Complaints: </p>
        <pre>
          {{ this.patientSelected.medicalRecord?.complaints }}
        </pre>
        <p class="text-base"> Current Medications: </p>
        <pre>
          {{ this.patientSelected.medicalRecord?.currentMedications }}
        </pre>
        <h1 class="text-md font-medium" *ngIf="this.archivedAppointments.length > 0"> History </h1>
        <div routerLink="/rnd/appointments/view/{{appointment.id}}" *ngFor="let appointment of archivedAppointments |slice:0:2 let i=index" class="mt-2 px-4 py-2 bg-gray-200 shadow-sm rounded-md cursor-pointer hover:shadow-md hover:bg-gray-50 transition-all">
          <h1 class="text-md font-medium">
            Consultation
          </h1>
          <p class="text-base">{{ appointment.appointmentType }}</p>
          <p class="text-sm text-gray-400">{{ this.moment(appointment.schedule).fromNow() }}</p>
        </div>
      </div>
    </div>
  </div>
  <div routerLink="/patient/account-settings"
       class="col-2 w-1/4 p-6 border rounded shadow-sm m-6 cursor-pointer hover:shadow-md outline-none">
    <app-user-card></app-user-card>
  </div>
</div>
