<div class="flex flex-row container mx-auto px-4 sm:px-6 lg:px-8 items-start computed-dashboard-div">
  <div class="col-1 py-6 w-3/4">
    <header class="bg-white">
      <div>
        <h1 class="text-2xl font-medium leading-tight text-gray-900">
          Messages
        </h1>
      </div>
    </header>
    <div class="flex flex-row mt-4 pr-8">
      <div class="threads flex flex-col overflow-y-auto mr-4 pr-2 w-1/3">
        <p class="text-sm font-medium text-gray-600"> Click on the patient you want to message </p>
        <div class="my-2 flex flex-col border py-2 px-4 rounded-md cursor-pointer hover:shadow-lg"  *ngFor="let appointment of appointments"
             (click)="selectPatient(appointment.patient)">
          <div class="patients flex flex-row  ">
            <div class="row flex flex-col justify-center">
              <img src="{{appointment.patient.profileImageURL}}" alt=""
                   class="w-14 h-14 border rounded-full object-cover">
            </div>
            <div class="texts flex flex-col align-middle justify-center mx-4">
              <h1
                class="text-base font-medium"> {{ appointment.patient.firstName }} {{ appointment.patient.lastName}} </h1>
            </div>
          </div>
        </div>
      </div>
      <div class="conversation px-4 py-2 bg-dirty w-2/3 flex flex-col rounded-sm" *ngIf="selectedPatient">
        <div class="header border-b pb-2">
          <h1 class="text-base font-medium"> {{ selectedPatient.firstName}} {{ selectedPatient.lastName}} </h1>
        </div>
        <div #scrollMe class="thread flex flex-col pt-4 flex-grow overflow-y-scroll  max-h-96">
          <div *ngFor="let message of messages" [ngClass]="{ 'self-start bg-white text-gray-900': message.sender === 'patient', 'self-end bg-accent text-white' : message.sender === 'rnd' }"
               class="message rounded-md py-2 px-4 my-1">
            <p class="text-base"> {{ message.message}} </p>
            <p class="text-xs">{{ this.moment(message.createdAt).fromNow() }} </p>
          </div>
          <!--          <div class="message rounded-md bg-accent  py-2 px-4 text-white p-4 my-1 self-end">-->
          <!--            <p class="text-base"> Hello, there. </p>-->
          <!--          </div>-->
        </div>
        <div class="message-box justify-self-end justify-end flex flex-col ">
          <h1 class="text-base font-medium"> Send Message</h1>
          <mat-form-field appearance="outline" class="mt-4">
            <mat-label class="font-sans text-base">Message</mat-label>
            <textarea [(ngModel)]="message" class="font-sans text-base" matInput rows="2"></textarea>
          </mat-form-field>
          <button type="submit" mat-raised-button color="accent"
                  class="mb-6" (click)="sendMessage()"> Send
          </button>
        </div>
      </div>
    </div>
  </div>
  <div routerLink="/patient/account-settings"
       class="col-2 w-1/4 p-6 border rounded shadow-sm m-6 cursor-pointer hover:shadow-md outline-none">
    <app-user-card></app-user-card>
  </div>
</div>
