<div class="relative bg-white">
  <div class="border-t">
    <div class="container mx-auto px-4 sm:px-6 ">
      <div class="flex items-center border-gray-100 py-6 md:justify-start md:space-x-10 ">
        <div class="flex justify-start">
          <a href="#" class="flex items-center link-text-bd text-gray-800">
            <span class="sr-only">Workflow</span>
            <h1 class="pl-2 text-base font-normal text-gray-300"> TeleNutrition.ph  &copy; 2021 All Rights Reserved.</h1>
          </a>
          <a href="/privacy" class="font-medium text-gray-500 px-4"> Privacy </a>
        </div>
      </div>
    </div>
  </div>
</div>
