  <img src="{{ this.patient?.profileImageURL ? this.patient?.profileImageURL : 'assets/default.png'}}" alt="" class="rounded-full mx-auto w-72 h-72  border-2 rounded-lg object-cover">
  <h1 class="text-xl font-medium text-gray-700 text-center pt-4"> {{ patient?.firstName }} {{ patient?.lastName}} </h1>
  <p class="text-base text-gray-600 text-center"> Patient </p>
  <div class="flex flex-row py-4 justify-around" *ngIf="patient?.medicalRecord; else elseBlk">
    <p class="text-base text-gray-600 text-center"> Sex: <strong> {{ this.patient?.medicalRecord?.sex?.toUpperCase().charAt(0)}} </strong> </p>
    <p class="text-base text-gray-600 text-center"> Age: <strong> {{ this.patient?.medicalRecord?.age }} years old</strong> </p>
  </div>
  <ng-template #elseBlk>
    <p class="text-base text-gray-600 text-center"> Please complete medical records. </p>
  </ng-template>
  <div class="flex flex-row py-4">
    <h1 class="text-base font-bold text-gray-700"> History </h1>
    <a routerLink="/patient/appointments/archived" class="text-base font-medium ml-auto"> See all </a>
  </div>
  <div class="history">
    <div routerLink="/patient/appointments/view/{{appointment.id}}" *ngFor="let appointment of appointments |slice:0:2 let i=index" class="mt-2 px-4 py-2 bg-gray-200 shadow-sm rounded-md cursor-pointer hover:shadow-md hover:bg-gray-50 transition-all">
      <h1 class="text-md font-medium">
        Consultation
      </h1>
      <p class="text-base">{{ appointment.appointmentType }}</p>
      <p class="text-sm text-gray-400">{{ this.moment(appointment.schedule).fromNow() }}</p>
    </div>
  </div>
