  <img src="{{ this.user?.profileImageURL ? this.user?.profileImageURL : 'assets/default.png'}}" alt="" class="rounded-full mx-auto w-72 h-72  border-2 rounded-lg object-cover">
  <h1 class="text-xl font-medium text-gray-700 text-center pt-4"> {{ user?.firstName }} {{ user?.lastName}} </h1>
  <p class="text-base text-gray-600 text-center"> Patient </p>
  <div class="flex flex-row py-4 justify-around">
    <p class="text-base text-gray-600 text-center"> Sex: <strong> M </strong> </p>
    <p class="text-base text-gray-600 text-center"> Age: <strong> {{ this.user?.medicalRecord?.age }} years old</strong> </p>
  </div>
  <div class="flex flex-row py-4">
    <h1 class="text-base font-bold text-gray-700"> History </h1>
    <a href="" class="text-base font-medium ml-auto"> See all </a>
  </div>
  <div class="history">
    <div class="px-4 py-2 bg-gray-200 shadow-sm rounded-md cursor-pointer hover:shadow-md hover:bg-gray-50 transition-all">
      <h1 class="text-md font-medium">
        Consultation
      </h1>
      <p> 01/01/2020</p>
    </div>
  </div>
